* {
  padding: 0;
  margin: 0;
}
#con {
  margin-left: 50px;
  margin-right: 50px;
}
#navigator {

}
#navigator li {
  float: left;
}
#navigator li a {
  float: left;
  display: block;
  text-decoration: none;
  padding: 18px;
  font-size: 20px;
  color: white;
}
nav {
  width: auto;
  height: 60px;
  background-color: black;
}
#navigator li:hover {
  background-color: grey;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-bottom: 10px;
  text-align: center;
}
th {
  background-color: blue;
  color: white;
}
tr {
  padding: 20px;
  border-top: 0px;
}
table {
  width: 100%;
}
#socialmedia li {
  float: right;
}
#socialmedia li a{
  float: right;
}
#socialmedia li a img{
  float: right;
  padding: 20px;
  margin-left: 12px;
  height: 15px;
  width: 15px;
}
#socialmedia li a img:hover
 {
  background-color: grey;
}
